

<div class="header_content">
    <div class="header_left">
        <div class="header_title">
            <h3>Hello Goku</h3>
            <p>Welcome back!</p>
        </div>
        <div class="header_search">
            <i class="bi bi-search search"></i>
            <input type="text" placeholder="Search here...">
            <i class="bi bi-mic mic"></i>
        </div>
        <div class="day_night">
            <div class="dark_mode">
                <i class="bi bi-circle-fill moon"></i>
            </div>
            <p>Light Mode</p>
        </div>
    </div>

    <div class="header_right">
        <i class="bi bi-chat-text text"></i>
        <div class="header_noti">
            <i class="bi bi-bell bell"></i>
            <div class="noti"></div>
        </div>
        <div class="header_country">
            <div class="country_image">
                <img src="assets/images/mexico.jpg" alt="">
            </div>
            <p>MEX (México)</p>
            <i class="bi bi-chevron-down down"></i>
        </div>
        <div class="header_profile">
            <i class="bi bi-person-circle profile"></i>
            <i class="bi bi-chevron-down down"></i>
        </div>
    </div>
</div>
