

<div class="sidebar_content">
    
    <div class="sc_title">
        <h3>GrowthView</h3>
    </div>

    <nav class="sc_nav">
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/"><i class="bi bi-pie-chart-fill"></i> Dashboard</a></li>
            <li><a href=""><i class="bi bi-graph-up"></i> Sales Analytics</a></li>
            <li><a href=""><i class="bi bi-bag-dash"></i> Products</a></li>
            <li><a href=""><i class="bi bi-cart2"></i> Orders</a></li>
            <li><a href=""><i class="bi bi-chat-left-text"></i> Messages</a></li>
            <li><a href=""><i class="bi bi-person"></i> Customers</a></li>
            <li><a href=""><i class="bi bi-gear"></i> Settings</a></li>
        </ul>
    </nav>

    <div class="sc_bot">
        <i class="bi bi-box-seam"></i>
        <p>New update avaliable click to update</p>
        <a class="sc_bot_btn">Update</a>
    </div>

    <div class="sc_auth">
        <form action="">
            <div class="sc_auth_bot">
                <i class="bi bi-arrow-right-circle"></i>
                <button class="sc_auth_btn" type="submit">Log Out</button>
            </div>
        </form>
    </div>
</div>